{% extends "base.html" %}
{% block content %}
  <h2 class="mb-4">Collection Analytics</h2>

  <div class="row">
    <div class="col-md-4 text-center">
      <h5>Color Breakdown</h5>
      <img src="{{ charts.color_pie }}" class="img-fluid rounded shadow" alt="Color Pie Chart">
    </div>
    <div class="col-md-4 text-center">
      <h5>Card Type Distribution</h5>
      <img src="{{ charts.type_dist }}" class="img-fluid rounded shadow" alt="Type Distribution">
    </div>
    <div class="col-md-4 text-center">
      <h5>Mana Curve</h5>
      <img src="{{ charts.mana_curve }}" class="img-fluid rounded shadow" alt="Mana Curve">
    </div>
  </div>
{% endblock %}
